

/* The following code is to style all three pages */
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px; 
    color: #333;
    background: #efeee7;
  }


  header {
    background-color: #ffffff;
    height: 65px;
   
  }

  h1 {
    clear: both;
    background-color:#4aaaa5;
    font-size: 45px;
    position: absolute; 
    left: 90px;
    /* width: 15%; */
    height: 65px;
    color: #ffffff;
    text-align: center;
    vertical-align: 50%;

    
    
  }

  @media screen and (max-width: 768px){
    h1{
      left: 40px;
    }
  }
  @media screen and (max-width: 640px){
    h1{
      left: 40px;
      position: static;
    }
  }



  navigation{
    /* width: 20%; */
    position: absolute; /* this make the navigation menu move relative to heder element */
    right: 20px;
    top: 20px;
    
  }


  @media screen and (max-width: 640px)  { 
    navigation{
     
      background-color: #ffffff;
      position: static;
      padding-bottom: 30px;
      padding-left: 30%;
      padding-right: 30%;

      
    } 
  }



  footer{
    position:fixed; /* keeps footer on the bottom of the window */
    bottom: 0;
    background-color:gray;
    Padding: 20px;
    width: 100%;
    text-align: center;
    border-top: 10px solid #4aaaa5;
   }

   a{
    display:inline-block; /*helps get rid of the - between the objects */
    text-decoration: none;
    color: gray;
  }
  



  h2{
    color: #4aaaa5;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  h3{
    color: #4aaaa5;
  }


  .main_content{
    background-color: #ffffff;
    border-color: #cccccc;
    width: 55%;
    margin-top: 50px;
    margin-left: 90px;
    float: left;             
    padding-bottom: 20px;
    color: gray;
    line-height: 23px;
    margin-bottom: 10%;

  }
  @media screen and (max-width: 768px) { 
    .main_content{
      float: none;
      width: 90%;
      margin-left: 40px;
     
    }
  }

  @media screen and (max-width: 640px) { 
    .main_content{

      margin-top: 90px;
    }
  }

  .My_Contact_Info {
    position: fixed;
    right: 100px;
    margin: 50px;
    background-color: #ffffff;
    padding: 20px;
  }

  @media screen and (max-width: 980px) { 
    .My_Contact_Info {
      right: 0px;
    }
  }

  @media screen and (max-width: 768px) { 
    .My_Contact_Info {
      position: static;
      margin-bottom: 100px;
    }
  }

  /* This code is specific for the Index page */
  #My_Picture{
    width: 90%;
    margin-right:20px;
    margin-left: 10px;
    margin-bottom: 10px;
    
  }
  @media screen and (max-width: 768px) {
    
    #My_Picture{
     float: left;
     width: 60%;
    }
  }
  
  @media screen and (max-width: 640px) {
    
    #My_Picture{
     float: none;
     width:90%;
    }
  }
  @media screen and (max-width: 640px) {
    
    #My_Picture{
     float: none;
    }
  }


  /* This code is to style Contact page */


  #Message_Box {    /*sizing the inputs*/
    height: 150px;
    width: 70%;
  }

  form{
    position: relative;
    left: 15%;
  }

  input{
    margin-bottom: 10px;
    width:70%;
    color: gray;
    
  }

  button{
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
  }


  /* Code is specific to Porflio page */
  .Portfolio_Album{
    margin-left: 50px;
    letter-spacing: 50px; /* making space between images */
  }


  .photoLayout{
    background-color: #ffffff;
    border-color: #cccccc;
    width: 55%;
    margin-top: 50px;
    margin-left: 90px;
    float: left;             
    padding-bottom: 20px;
    color: gray;
    line-height: 23px;
    margin-bottom: 10%;

  }

  @media screen and (max-width: 980px) { 
    .photoLayout{
      
      width: 40%;
      
     
    }
  }

  @media screen and (max-width: 768px) { 
    .photoLayout{
      float: none;
      width: 100%;
      margin-left: 40px;
     
    }
  }

  @media screen and (max-width: 640px) { 
    .photoLayout{
      margin-top: 90px;
      width: 70%;
      margin-left: 15%;
     
    }
  }


  